<footer style="margin-top:3rem;padding-top:1rem;border-top:1px dotted #ccc;font-size:.85rem;color:#9a9a9a;">
  <p>
    <a href="{{ .Site.Params.canonicalBase }}/privacy/">Privacy</a> &middot;
    <a href="{{ .Site.Params.canonicalBase }}/data-usage/">Data Usage</a> &middot;
    <a href="{{ .Site.Params.canonicalBase }}/cookies/">Cookies</a> &middot;
    <a href="{{ .Site.Params.canonicalBase }}/terms/">Terms</a> &middot;
    <a href="{{ .Site.Params.canonicalBase }}/copyright/">Copyright</a> &middot;
    <a href="{{ .Site.Params.canonicalBase }}/.well-known/security.txt">Security</a>
  </p>
  <p>{{ .Site.Copyright }} &middot; <a href="{{ .Site.Params.canonicalBase }}/.well-known/pgp-key.txt">{{ .Site.Params.pgp }}</a></p>
</footer>
