{{- define "bodyclass" }}h-feed{{ end -}}
{{- define "main" }}
{{- $a := .Site.Data.author }}
  <h2>$ whoami</h2>
  <p>
    <img class="avatar" alt="{{ $a.name }}" width="120" height="120"
         src="{{ .Site.Params.avatarURL }}">
    {{ $a.tagline }}
  </p>
  <p>{{ range $i, $r := $a.roles }}{{ if $i }} &#183;
  {{ end }}{{ $r }}{{ end }}</p>
  <p>IANA PEN&nbsp;{{ $a.iana_pen }} &#183;
  <a href="https://orcid.org/{{ $a.orcid }}">ORCID&nbsp;{{ $a.orcid }}</a></p>

  <ul class="social-links">
    <li><a href="{{ .Site.Params.linkedin }}">
      <svg aria-hidden="true" class="icon"><use href="/assets/icons.svg#icon-linkedin"/></svg>
      /in/denzuko</a></li>
    <li><a href="{{ .Site.Params.github }}">
      <svg aria-hidden="true" class="icon"><use href="/assets/icons.svg#icon-github"/></svg>
      github</a></li>
    <li><a href="{{ .Site.Params.keybase }}">
      <svg aria-hidden="true" class="icon"><use href="/assets/icons.svg#icon-keybase"/></svg>
      keybase</a></li>
    <li><a href="{{ .Site.Params.reddit }}">
      <svg aria-hidden="true" class="icon"><use href="/assets/icons.svg#icon-reddit"/></svg>
      reddit</a></li>
    <li><a href="{{ .Site.Params.calendly }}">
      <svg aria-hidden="true" class="icon"><use href="/assets/icons.svg#icon-resume"/></svg>
      resume</a></li>
  </ul>

  <p class="cta-line"><a href="{{ .Site.Params.cta.url }}" rel="payment">{{ .Site.Params.cta.text }} &#8594;</a></p>

  <h3>&#128072; $ finger denzuko@dwightspencer.com _</h3>
  {{- partial "finger.html" . }}
  <p class="finger-exit"><span style="color:#75715e">; &#8594; <a href="/posts/" style="color:#9a9a9a">/posts</a> if you prefer prose</span></p>

  <div class="latest-posts">
    <h2>recent writing</h2>
    {{- range first 5 (where .Site.RegularPages "Section" "posts").ByDate.Reverse }}
    <p><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time><a href="{{ .Permalink }}" rel="self">{{ .Title }}</a></p>
    {{- end }}
  </div>
{{- end }}
