{{- define "bodyclass" }}h-feed{{ end -}}
{{- define "main" }}
  <h2>$ whoami</h2>
  <p>
    <img class="avatar" alt="{{ .Site.Params.author }}" width="120" height="120"
         src="{{ .Site.Params.avatarURL }}">
    Code is speech. Platforms are not neutral.
  </p>
  <p>Principal, <a href="https://dapla.net">Da Planet Security</a> (est.&nbsp;2001, Albany&nbsp;NY) &#183;
  Technology Chair, <a href="https://restorethe4th.com">Restore The Fourth</a> &#183;
  IEEE Computer Society &#183; InfraGard &#183; ISACA &#183; SCORE Mentor</p>
  <p>SysOp turned DevOps precursor (2007&#8211;2008, pre-coinage) turned security researcher.
  20&#43; years managed security services. Author: <em>The Watchers You Fed</em> (KDP, forthcoming).
  IANA PEN&nbsp;{{ .Site.Params.ianapen }} &#183;
  <a href="https://orcid.org/{{ .Site.Params.orcid }}">ORCID&nbsp;{{ .Site.Params.orcid }}</a></p>

  <ul class="social-links">
    <li><a href="{{ .Site.Params.linkedin }}">
      <svg aria-hidden="true" class="icon"><use href="/assets/icons.svg#icon-linkedin"/></svg>
      /in/denzuko</a></li>
    <li><a href="{{ .Site.Params.github }}">
      <svg aria-hidden="true" class="icon"><use href="/assets/icons.svg#icon-github"/></svg>
      github</a></li>
    <li><a href="{{ .Site.Params.keybase }}">
      <svg aria-hidden="true" class="icon"><use href="/assets/icons.svg#icon-keybase"/></svg>
      keybase</a></li>
    <li><a href="{{ .Site.Params.calendly }}">
      <svg aria-hidden="true" class="icon"><use href="/assets/icons.svg#icon-resume"/></svg>
      resume</a></li>
    <li><a href="mailto:dwight@dapla.net">
      <svg aria-hidden="true" class="icon"><use href="/assets/icons.svg#icon-mail"/></svg>
      contact</a></li>
  </ul>

  <p class="cta-line"><a href="{{ .Site.Params.cta.url }}" rel="payment">{{ .Site.Params.cta.text }} &#8594;</a></p>

  <h3>&#128072; $ finger denzuko@dwightspencer.com _</h3>
  {{ .Content }}
  <p class="finger-exit"><span style="color:#75715e">; &#8594; <a href="/posts/" style="color:#9a9a9a">/posts</a> if you prefer prose</span></p>

  <div class="latest-posts">
    <h2>recent writing</h2>
    {{- range first 5 (where .Site.RegularPages "Section" "posts").ByDate.Reverse }}
    <p><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time><a href="{{ .Permalink }}" rel="self">{{ .Title }}</a></p>
    {{- end }}
  </div>
{{- end }}
