{{- define "bodyclass" }}h-entry{{ end -}}
{{- define "main" }}
<section>
  <h2 class="post p-name">{{ .Title }}</h2>
  {{- with .Params.description }}<p class="p-summary">{{ . }}</p>{{ end }}
  <div class="e-content">
    {{ .Content }}
  </div>
  <div class="post-date">
    <span class="g time">
      <time class="dt-published" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
    </span> &#8729;
    <a class="p-author h-card" href="{{ .Site.Params.canonicalBase }}/" style="display:none;">{{ .Site.Params.author }}</a>
    <span class="meta">{{ .WordCount }} words</span>
    {{- with .Params.tags }}
    <div class="tags">
      <ul>
        {{- range . }}
        <li><a href="{{ $.Site.Params.canonicalBase }}/tags/{{ . | urlize }}/">#{{ . }}</a></li>
        {{- end }}
      </ul>
    </div>
    {{- end }}
  </div>
  {{- with .Params.related_post }}
  <p class="finger-exit"><span style="color:#75715e">; &#8594; <a href="/posts/{{ .slug }}/" style="color:#9a9a9a">{{ .label }}</a></span></p>
  {{- end }}
</section>
{{- end }}
